<div class="content" style="display: flex">
  <div class="btns" id="btns">
    <button
      *ngFor="let img of images; let i = index"
      matRipple
      matRippleColor="#ced6e6"
      (click)="curPage = i; showPic()"
      [ngClass]="{ active: i === curPage }"
    >
      <span *ngIf="i === curPage" style="color: #000000">{{ i + 1 }}</span>
      <span *ngIf="i !== curPage">
        <span *ngIf="locationRects[i]" style="color: #ffd700">{{ i + 1 }}</span>
        <span *ngIf="!locationRects[i]" style="color: #ffffff">{{
          i + 1
        }}</span>
      </span>
    </button>
  </div>
  <div class="canvas">
    <canvas id="canvas"></canvas>
  </div>
  <div class="table">
    <p-table
      [value]="rows"
      dataKey="id"
      [tableStyle]="{ 'min-width': '60rem' }"
      selectionMode="single"
      [metaKeySelection]="true"
      [(selection)]="selectedRow"
      [scrollable]="true"
      [scrollHeight]="100 + 'vh'"
      [expandedRowKeys]="activeRow"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
            <th *ngFor="let header of headers">{{ headerEnum[header] || header }}</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-row
        let-expanded="expanded"
        let-editing="editing"
      >
        <tr [pSelectableRow]="row" [ngStyle]="{ 'background-color': row['bgColor'] }">
          <td *ngIf="row['children'].length > 0">
            <p-button
              type="button"
              pRipple
              [pRowToggler]="row"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></p-button>
          </td>
          <td *ngIf="row['children'].length === 0"></td>
          <td [pTooltip]="row['Title']" tooltipPosition="top" showDelay="500">
            {{ row['Title'] }}
          </td>
          <td
            [pTooltip]="row['Property']"
            tooltipPosition="top"
            showDelay="500"
          >
            {{ row['Property'] }}
          </td>
          <td
            [pEditableColumn]="row['V']"
            pEditableColumnField="V"
            [pTooltip]="row['V']"
            tooltipPosition="top"
            showDelay="500"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <textarea
                  rows="20"
                  pInputTextarea
                  [(ngModel)]="row['V']"
                  (blur)="update(row, row['V'])"
                  [disabled]="row['V'] === undefined"
                >
                >
            </textarea
                >
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  row['V'] === 'not provided' || row['V'] === undefined
                    ? '-'
                    : row['V']
                }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            [pTooltip]="row['Confidence'] || '-'"
            tooltipPosition="top"
            showDelay="500"
          >
            {{ row['Confidence'] || '-' }}
          </td>

          <td>
            <ng-container *ngIf="row['children'].length === 0; else empty">
              <mat-icon
                aria-hidden="false"
                fontIcon="my_location"
                matTooltip="定位原文"
                style="color: #789de5; cursor: pointer; margin-right: 5px"
                (click)="clickItem(row, 'Locations')"
              >
              </mat-icon>
              <mat-icon
                aria-hidden="false"
                fontIcon="draw"
                matTooltip="修正位置"
                style="color: #789de5; cursor: pointer"
                (click)="correct(row, 'draw')"
              >
              </mat-icon>
              <mat-icon
                aria-hidden="false"
                fontIcon="add"
                matTooltip="新增位置"
                style="color: #789de5; cursor: pointer"
                (click)="correct(row, 'add')"
              >
              </mat-icon>
            </ng-container>
            <ng-template #empty>
              <span>-</span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="rowexpansion"
        let-rowSecond
        let-editing="editing"
        let-expandedSecond="expandedSecond"
        
      >
        <tr>
          <td colspan="7">
            <div class="p-3">
              <p-table
                [value]="rowSecond['children']"
                dataKey="id"
                selectionMode="single"
                [(selection)]="selectedRow"
                [metaKeySelection]="true"
                [expandedRowKeys]="activeRow"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 7rem"></th>
                    <th *ngFor="let header of secondHeaders">{{ headerEnum[header] || header }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-item.viewDetails="false">
                  <tr [pSelectableRow]="item">
                    <td *ngIf="item['children']">
                      <p-button
                        type="button"
                        pRipple
                        [pRowToggler]="item"
                        [text]="true"
                        [rounded]="true"
                        [plain]="true"
                        (onClick)="
                          item.viewDetails = !item.viewDetails
                        "
                        [icon]="
                          item.viewDetails
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        "
                      ></p-button>
                    </td>
                    <td *ngIf="!item['children']"></td>
                    <td
                      [pTooltip]="item['Title']"
                      tooltipPosition="top"
                      showDelay="500"
                    >
                      {{ item.Title }}
                    </td>
                    <td
                      [pTooltip]="item['Property']"
                      tooltipPosition="top"
                      showDelay="500"
                    >
                      {{ item['Property'] }}
                    </td>
                    <td
                    [pEditableColumn]="item['V']"
                    pEditableColumnField="V"
                    [pTooltip]="item['V']"
                    tooltipPosition="top"
                    showDelay="500"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea
                          rows="20"
                          pInputTextarea
                          [(ngModel)]="item['V']"
                          (blur)="update(item, item['V'])"
                          [disabled]="item['V'] === undefined"
                        >
                        >
                    </textarea
                        >
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          item['V'] === 'not provided' || item['V'] === undefined
                            ? '-'
                            : item['V']
                        }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                    <td>
                      <ng-container *ngIf="!item['children']; else empty">
                        <mat-icon
                          aria-hidden="false"
                          fontIcon="my_location"
                          matTooltip="定位原文"
                          style="
                            color: #789de5;
                            cursor: pointer;
                            margin-right: 5px;
                          "
                          (click)="clickItem(item, 'Locations')"
                        >
                        </mat-icon>
                        <mat-icon
                          aria-hidden="false"
                          fontIcon="draw"
                          matTooltip="修正位置"
                          style="color: #789de5; cursor: pointer"
                          (click)="correct(item, 'draw')"
                        >
                        </mat-icon>
                        <mat-icon
                          aria-hidden="false"
                          fontIcon="add"
                          matTooltip="新增位置"
                          style="color: #789de5; cursor: pointer"
                          (click)="correct(item, 'add')"
                        >
                        </mat-icon>
                      </ng-container>
                      <ng-template #empty>
                        <span>-</span>
                      </ng-template>
                    </td>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="rowexpansion"
                  let-rowThird
                  let-expandedThird="expandedThird"
                  let-editing="editing"
                >
                  <tr>
                    <td colspan="7">
                      <div class="p-3">
                        <p-table
                          [value]="rowThird['children']"
                          dataKey="id"
                          selectionMode="single"
                          [(selection)]="selectedRow"
                          [metaKeySelection]="true"
                        >
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 9rem"></th>
                              <th
                                *ngFor="
                                  let header of rowThird['Property'] === 'Q'
                                    ? thirdQHeaders
                                    : rowThird['Property'] === 'Components'
                                    ? thirdComponentHeaders
                                    : headers
                                "
                              >
                              {{ headerEnum[header] || header }}
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                              <td></td>
                              <td *ngFor="let header of (rowThird['Property'] === 'Q' ? thirdQHeaders : (rowThird['Property'] === 'Components' ? thirdComponentHeaders : headers))">
                                <ng-container *ngIf="header === 'V'">
                                  <td
                                    [pEditableColumn]="item['V']"
                                    pEditableColumnField="V"
                                    [pTooltip]="item['V']"
                                    tooltipPosition="top"
                                    showDelay="500"
                                  >
                                    <p-cellEditor>
                                      <ng-template pTemplate="input">
                                        <textarea
                                          rows="20"
                                          pInputTextarea
                                          [(ngModel)]="item['V']"
                                          (blur)="update(item, item['V'])"
                                          [disabled]="item['V'] === undefined"
                                        ></textarea>
                                      </ng-template>
                                      <ng-template pTemplate="output">
                                        {{
                                          item['V'] === 'not provided' || item['V'] === undefined ? '-' : item['V']
                                        }}
                                      </ng-template>
                                    </p-cellEditor>
                                  </td>
                                </ng-container>
                                <ng-container *ngIf="header !== 'V'">
                                  <ng-container *ngIf="item[header] && header !== 'Locations'">
                                    <p
                                      [pTooltip]="item[header] === 'not provided' || item[header] === undefined ? '-' : item[header]"
                                      tooltipPosition="top"
                                      showDelay="500"
                                    >
                                      {{ item[header] === 'not provided' || item[header] === undefined ? '-' : item[header] }}
                                    </p>
                                  </ng-container>
                                  <ng-container *ngIf="item[header] && header === 'Locations'">
                                    <mat-icon
                                      aria-hidden="false"
                                      fontIcon="my_location"
                                      matTooltip="定位原文"
                                      style="color: #789de5; cursor: pointer; margin-right: 5px;"
                                      (click)="clickItem(item, 'Locations')"
                                    ></mat-icon>
                                    <mat-icon
                                      aria-hidden="false"
                                      fontIcon="draw"
                                      matTooltip="修正位置"
                                      style="color: #789de5; cursor: pointer;"
                                      (click)="correct(item, 'draw')"
                                    ></mat-icon>
                                    <mat-icon
                                      aria-hidden="false"
                                      fontIcon="add"
                                      matTooltip="新增位置"
                                      style="color: #789de5; cursor: pointer;"
                                      (click)="correct(item, 'add')"
                                    ></mat-icon>
                                  </ng-container>
                                  <ng-container *ngIf="!item[header]">
                                    <span>-</span>
                                  </ng-container>
                                </ng-container>
                              </td>
                            </tr>
                            
                          </ng-template>
                        </p-table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-sidebar [(visible)]="sidebarVisible" class="sidebar">
    <ng-template pTemplate="header">
      <span class="font-semibold text-xl">projects</span>
    </ng-template>
    <div
      style="display: flex; align-items: center; justify-content: center"
      *ngFor="let file of files"
      class="button"
      (click)="goFile(file)"
    >
      <mat-icon aria-hidden="false" fontIcon="folder"></mat-icon>
      <p>{{ file }}</p>
    </div>
    <mat-icon
      style="position: fixed; left: 20px; bottom: 20px; cursor: pointer"
      aria-hidden="false"
      fontIcon="home"
      (click)="goHome()"
    ></mat-icon>
  </p-sidebar>
  <mat-icon
    class="sideBtn"
    (click)="sidebarVisible = true"
    fontIcon="list"
  ></mat-icon>
</div>
